<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="author" content="Julien Reig">
    <meta name="keywords" content="escrime, moirans, isère, isere, sport, combat, tullins, voiron, rives, épée, fleuret, sabre, zorro, mousquetaire, cem, cerle, cercle d'escrime de moirans, fencing, ffe, adulte, enfant, adolescent, ado, familial, association, sportive, lionel, terray">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://escrime-moirans.web.app/">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.productName %>">
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta property="og:image" content="escrime-moirans.web.app/statics/preview.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://escrime-moirans.web.app/">
    <meta property="twitter:title" content="<%= htmlWebpackPlugin.options.productName %>">
    <meta property="twitter:description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta property="twitter:image" content="escrime-moirans.web.app/statics/preview.png">

    <link rel="icon" type="image/png" href="statics/app-logo-128x128.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
